h1 {
    font-family: 'Momo Signature', cursive;
    font-size: 3em;
    color: #F3E1DD;
    margin-bottom: 20px;
    text-align: center;
    max-width: 700px;
}

#greeting {
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1em;
    color: #89023E;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
    max-width: 500px;
    background-color: #FFD9DA;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #89023E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.birthday-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #CC7178;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.banner-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#flicker {
    
    width: 80px;
    max-width: 100px;
    height: auto;
}