#form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #89023E;
    border: 1px solid #89023E;
    border-radius: 5px;
    background-color: #FFD9DA ;
    overflow: auto;
    scrollbar-color: #CC7178 #F3E1DD;
    
}

#form input {
    
    width: 100%;
    height: 35px;
    border: 1px solid #CC7178;
    background-color: #C7D9B7;
    color:#89023E;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;

}

#comments {
    height: 90px;
    margin: 10px 0;
    border: 1px solid #89023E;
    background-color: #C7D9B7;
    text-align: center;
    color:#89023E;
}

#submitButton {
    padding: 10px 20px;
    background-color: #89023E;
    color: #F3E1DD;
    margin: 10px 0;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition:ease-in-out .3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#submitButton:hover {
    background-color: #CC7178;
    transition:ease-in-out .3s;
}

.inviteContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

#rsvpImage {
    max-width: 300px;
    height: 100px;
    width: auto;
    margin-top: 20px;
}
#checkbox1, #checkbox2, #checkbox3 {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    accent-color: #CC7178;
    cursor: pointer;
}